// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};
dh-ranking {
	.avatar {
		width: 5rem;
		height: 5rem;
		float: left;
	}
	.avatar img {
		max-width: 100%;
		border-radius: nb-theme(card-border-radius);
		transition: width 0.4s ease;
		transform: translate3d(0, 0, 0);
		box-shadow: 0 2px 8px 0;
	}
	.details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 0 0.5rem 0 0.75rem;
		border-left: 1px solid transparent;
	}
}
