@import "../../../@theme/styles/themes";
@import "~@nebular/theme/styles/global/bootstrap/hero-buttons";
@import '../../../@theme/styles/language';

@include nb-install-component() {
  nb-tab {
	height: 50rem;
  }
  nb-card {
	  margin-bottom: 0.5rem;
    .ranking-container {
      height: 100%;
      padding: 0.625rem;
    }

    .avatar {
      width: 5rem;
      height: 5rem;
      float: left;
    }
    .avatar img {
      max-width: 100%;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 0.5rem 0 0.75rem;
      border-left: 1px solid transparent;
    }

    .title {
      font-family: nb-theme(font-secondary);
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(card-fg-heading);
    }

    .status {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
      color: nb-theme(card-fg);
    }
  }
}
