<nb-card>
	<nb-tabset fullWidth>
		<nb-tab tabTitle="Repositories">
			<div class="ranking" *ngFor="let repo of repos">
				<nb-card>
					<div class="ranking-container">
						<div class="avatar">
							<img src="{{repo.owner.avatar_url}}&s=160">
						</div>
						<div class="details">
							<div class="title">{{repo.full_name}}</div>
							<div class="status">{{repo.description}}</div>
						</div>
					</div>
				</nb-card>
			</div>
		</nb-tab>
		<nb-tab tabTitle="Develpoers">
			<!-- <div class="contact" *ngFor="let c of recent">
				<nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
				<span class="time">{{ c.time }}</span>
			</div> -->
		</nb-tab>
	</nb-tabset>
</nb-card>
