@import "../../../@theme/styles/themes";

@include nb-install-component() {
	nb-tab {
		height: 50rem;
	}
	nb-card {
		margin-bottom: 0.5rem;
		.ranking-container {
			height: 100%;
			padding: 0.625rem;
			cursor: pointer
		}
		.ranking-container:hover {
			background-color: ghostwhite
		}
	}
}
